/* @layer base {
    @font-face {
        font-family: "Proxima Nova", system-ui, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Roboto.woff2) format("woff2");
        font-family: "futura-pt", sans-serif;
        outline: none !important;
        overflow-x: hidden;
    }
} */
